on:
  push:
    branches:
      - main
      - "release/**"

    paths:
      - "src/**"

  pull_request: 
    branches:
        - main
        - "release/**"



jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout node
      uses : actions/checkout@v6.0.2
    
    - name: Run tests 
      run: npm test

